@model IEnumerable<List>

@{
    Layout = "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />

    <title>EList - Dashboard</title>


    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <style>
        html {
            font-size: 14px;
        }

        .container {
            max-width: 960px;
        }

        .pricing-header {
            max-width: 700px;
        }

        .card-deck .card {
            min-width: 220px;
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .cardParent {
            
        }
        .cardSingle {
            float: left;
            width: 170px;
            margin-right: 30px;
        }
        .cardSingle:hover{
            background: #555;
            cursor: pointer;
        }
    </style>
</head>
<body style="background-color: #908383">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow nopadding" style="background-color: #D9534F">
        <a class="navbar-brand" href="#"><img src="~/images/logodashboard.png" width="100" style="padding: 5px" /></a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Sign Out</a>
        </nav>
    </div>

    <div style="display:table; width:100%">
        <div style="display:table-row">

            <div style="display:table-cell; width:30%" class="nopadding container-style-left">
                <img src="~/images/bgdashboard.png" class="col-12 nopadding" />
            </div>
            <div style="display:table-cell; vertical-align:top; padding-top:20px; padding-left:30px; padding-right:30px">
                <div class="input-group md-form form-sm form-2 pl-0" style="padding-bottom:30px; padding-right:20px">
                    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text bg-white lighten-3" id="basic-text1">
                            <img src="~/images/searchicon.png" width="20" />
                        </span>
                        <button class="col-8 btn btn-danger btn-signin" style="margin-left:40px">+ ADD</button>
                    </div>
                    
                </div>
                <div class="cardParent">
                    <div class="card mb-4 shadow-sm cardSingle">
                        <div class="card-header bg-danger" style="width:3rem; height:15rem">
                            <h3 style="position:absolute; left:60px; top:6rem">English</h3>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm cardSingle">
                        <div class="card-header bg-info" style="width:3rem; height:15rem">
                            <h3 style="position:absolute; left:60px; top:6rem">Science</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/js/bootstrap.min.js"></script>
</body>
</html>