@{
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body style="width: 350px;height: 150px;background-color: #908383; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white;">
    <div style="text-align:center">
        <h1>Reminder!</h1>
        <h2 id="uiTitle">sample</h2>
        <button id="okBtn">OK</button>
    </div>
    <script type="text/javascript">
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById("uiTitle").innerHTML = urlParams.get('title');
        document.getElementById("okBtn").addEventListener("click", closePopup, true);
        function closePopup() {
            window.close('', '_parent', '');
        }
    </script>

</body>

</html>